body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: #666;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

img:hover {
  transition-duration: 1s;
  transform: scale(1.05);
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

.indifferent {
  border: 1px solid #aaaa00;
  box-shadow:  -1px 1px #aaaa00, -2px 2px #aaaa00, -3px 3px #aaaa00, -4px 4px #aaaa00, -5px 5px #aaaa00;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #aa2222;
  box-shadow: -1px 1px #aa2222, -2px 2px #aa2222, -3px 3px #aa2222, -4px 4px #aa2222, -5px 5px #aa2222;
  background-color: #dd4444;
}
.column{
  display:inline-block;
  width: 30%;
}
img{ /*saves me having to add class names to 10 of the images */
  width:100%;
}
.med{
  width: 203%; /* the extra 3% is for margin, since we can't know the exact image pixel width to add 4 pixels due to a scalable page, */
}              /* this is as best as we can guess (I believe) */
.large{
 width: 309%; /* why 309% and not 306%? 203% is to cover the margin gap between two columns, but leave a gap between itself and the last column. */
}             /* this needs to cover both margin gaps, and then leave NO extra margin to the edge of the third column. */